.hero-background {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-color: #000; /* or another fallback color */
  }
  