<form method="post" action="https://list.klamathtech.diy/subscription/form" class="listmonk-form">
    <div>
      <h3>Subscribe</h3>
      <input type="hidden" name="nonce" />
  
      <p><input type="email" name="email" required placeholder="E-mail" /></p>
      <p><input type="text" name="name" placeholder="Name (optional)" /></p>
  
      <p>
        <input id="bfc51" type="checkbox" name="l" checked value="bfc51685-1f71-40a5-be8c-f5ebbd517cbb" />
        <label for="bfc51">Klamath Tech Collective Mailing List</label>
        <br />
        <span>Subscribe to the Klamath Tech Collective mailing list!

          We’ll send you occasional updates on upcoming events, learning opportunities, current news and ways to get involved.
          
          No spam -- just useful info and invitations to help you connect, learn, and build with others in the Klamath River bioregion.</span>
      </p>
  
      <input type="submit" value="Subscribe" />
    </div>
  </form>
  